[submodule "Js/Translations"]
	path = Js/Translations
	url = https://git.poweris.moe/yttt-xdu/xdutranslations.git
	branch = .
[submodule "CustomData"]
	path = CustomData
	url = https://git.poweris.moe/yttt-xdu/customdata.git
	branch = .
