[submodule "Js/Translations"]
	path = Js/Translations
	url = https://git.poweris.moe/xdutranslations.git
	branch = .
[submodule "CustomData"]
	path = CustomData
	url = https://git.poweris.moe/customdata.git
	branch = .
